@media screen and (max-width: 900px){
    .column {
        width: 100% !important;
    }
    #main {
        padding-bottom: 10px;
        border-radius: 1%;
        box-sizing: border-box;
        box-shadow: 4px 6px 10px 0px rgba(0, 0, 0, 0.3)
    }
}

body {
    background-color: darkslategray;
    font-size: 2em;
    font-family: "Nunito SemiBold";
    color: #fff;
    width: 50%;
    text-align: center;
    margin: 0 auto;
}

.column {
    margin: 0 auto;
    float: left;
    width: 50%;
    margin-top: 1.5rem;
}

button {
    color: #fff;
    font-size: 0.7em;
    background: forestgreen;
    border: 0;
    padding: 10px;
    border-radius: 10%;
    cursor: pointer;
}